<div class="container">
  <p> Search for experts </p>
  <%= form_tag('/expert/search_expert', method: :get) do %>
    <%= text_field_tag 'search_text', nil, class: "form-control" %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <% if @search_results.length > 0 %>
    <%= render 'search' %>
  <% else %>
    <div>No results found</div>
  <% end %>
</div>