<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"> <%= @expert.name %> </h5>
    <p class="card-subtitle"> <%= @expert.expertise %> </p>
    <p class="card-text"> <%= @expert.summary %> </p>
  </div>
</div>